{% extends 'base.html' %}

{% block header %}
  <h2 class="d-flex justify-content-center m-3">{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center">
  <form method="post">
      <div class="mb-3">
        <label for="username", class="form-label">Username</label>
        <input name="username", id="username", class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password", class="form-label">Password</label>
        <input type="password", name="password" id="password", class="form-control" required>
      </div>
    <input type="submit", value="Register", class="btn btn-primary">
  </form>
    </div>
{% endblock %}