{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>How well do you know Nick? Take this quiz to find out, and compare your results to everyone else!</p>
    {% if g.user %}
        <form>
            <input type="submit" value="Take the Quiz" />
        </form>
    {% else %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Take the Quiz
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">
                You need to login in order to take the quiz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
            </div>
        </div>
        </div>
    {% endif %}
    <form action="https://google.com">
        <input type="submit" value="View Results" />
    </form>
{% endblock %}