{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Welcome!{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>How well do you know Nick? Take this quiz to find out, and compare your results to everyone else!</p>
    {% if g.user %}
        <a href="{{ url_for('quiz.take_quiz') }}", class='btn btn-primary'>Take the Quiz</a>
    {% else %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Take the Quiz
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">
                You need to log in to take the quiz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{{ url_for('auth.login') }}" role="button">Login</a>
            </div>
            </div>
        </div>
        </div>
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('quiz.get_results') }}" role="button">View Results</a>
{% endblock %}