{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Quiz{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('quiz.results') }}">
    {% for question in questions %}
        <div>
            <h2>{{ question['q'] }}</h2>
            <input type="radio", name="{{ question['id'] }}" value="a">
            <label for="{{ question['a'] }}">{{ question['a'] }}</label><br>
            <input type="radio", name="{{ question['id'] }}" value="b">
            <label for="{{ question['b'] }}">{{ question['b'] }}</label><br>
            <input type="radio", name="{{ question['id'] }}" value="c">
            <label for="{{ question['c'] }}">{{ question['c'] }}</label><br>
            <input type="radio", name="{{ question['id'] }}" value="d">
            <label for="{{ question['d'] }}">{{ question['d'] }}</label><br>
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
{% endblock %}